<div class="app">
  <div class="app-calculator">
    <h1>Calculator</h1>
    <label for="number-1">Number 1: </label>
    <input type="text" id="number-1" [(ngModel)]="numberOne">
    <br>
    <br>
    <label for="number-2">Number 2: </label>
    <input type="text" id="number-2" [(ngModel)]="numberTwo">
    <br>
    <br>
    <div class="comparator">
      <button (click)="sum()">+</button>
      <button (click)="minus()">-</button>
      <button (click)="multi()">*</button>
      <button (click)="division()">/</button>
    </div>
    <br>
    <label for="result">Result: </label>
    <input type="text" placeholder="result" id="result" [value]="result">
  </div>
</div>
