.facility-item {
  margin-bottom: 24px;
}

.facility-item:hover .card{
  box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.35);
}

.facility-group-btn{
  display: flex;
  justify-content: space-between;
}
.form-serach {
  margin: 32px 0;
  display: flex;
  border-bottom: 1px solid #35a0b8;
  padding: 12px 12px;
}
.search-group {
  margin-right: 24px;
}
.form-control{
  width: auto !important;
}
.input {
  outline: none;
  border: 1px solid #0dcaf0;
  padding: 2px 8px;
  border-radius: 3px;

}

.facility-group-service {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
