*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.wrapper{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-contract__add{
    margin: 32px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    min-width: 450px;
    border-radius: 4px;
    padding: 24px 12px;
    border: 1px solid #dc3545;
    box-shadow: 1px 3px 2px #dc3545;
}
.form-contract__add label{
    color: #dc3545;
    text-transform: capitalize;
}
.form-contract__add input, .form-contract__add select, .form-contract__add textarea {
    width: 100%;
    padding:6px;
    border: 1px solid #dc3545;
    border-radius: 3px;
    font-size: 16px;
    outline: none;
}
.create-contract-heading{
    width: 100%;
    color: #dc3545;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 32px;
}

.table-contract__create {
    width: 80%;
}
.table-contract__create tr td{
    padding-bottom: 12px;
}

#box-button{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 12px 0;
    justify-content: center;
}
#btn-create{
    width: 80%;
    border: none;
    outline: none;
    border-radius: 2px;
    padding: 6px 0;
    background-color:  #dc3545;
    color: rgb(248, 244, 244);
    font-size: 20px;
    margin-top: 20px;
}

.form-contract__add .total {
    border: none;
    border-radius: 0;
    text-align: right;
    color: #dc3545;
    font-weight: bold;
    border-bottom: 1px solid #dc3545;
    padding-right: 12px;
    background-color: transparent;
}