<div class="bg-secondary">
  <div class="container wrapper">
    <form action="" class="form-customer__add bg-light">
      <h3 class="create-customer-heading">Add customer</h3>
      <table class="table-customer__create">
        <tr>
          <td>
            <label for="customer-name">
              <i class="fa-solid fa-pen-to-square"></i>
              <span>Name</span>
            </label>
          </td>
          <td>
            <input type="text" placeholder=" Name" id="customer-name">
          </td>
        </tr>
        <tr>
          <td>
            <label for="customer-day-of-birth">
              <i class="fa-solid fa-calendar-days"></i>
              <span>Birth day</span>
            </label>
          </td>
          <td>
            <input type="date"id="customer-day-of-birth">
          </td>
        </tr>
        <tr>
          <td>
            <label for="customer-email">
              <i class="fa-solid fa-envelope"></i>
              <span>email</span>
            </label>
          </td>
          <td>
            <input type="text" placeholder="Customer email" id="customer-email">
          </td>
        </tr>
        <tr>
          <td>
            <label for="customer-id-card">
              <i class="fa-solid fa-address-card"></i>
              <span>Id card</span>
            </label>
          </td>
          <td>
            <input type="text" placeholder="Customer id card" id="customer-id-card">
          </td>
        </tr>
        <tr>
          <td>
            <label for="customer-phone-number">
              <i class="fa-solid fa-mobile"></i>
              <span>phone number</span>
            </label>
          </td>
          <td>
            <input type="text" placeholder="Customer phone number" id="customer-phone-number">
          </td>
        </tr>
        <tr>
          <td>
            <label for="customer-address">
              <i class="fa-solid fa-location-dot"></i>
              <span>address</span>
            </label>
          </td>
          <td>
            <textarea name="" id="customer-address" cols="30" rows="3"></textarea>
          </td>
        </tr>
        <tr>
          <td>
            <label for="customer-type">
              <i class="fa-solid fa-gem"></i>
              <span>Customer type</span>
            </label>
          </td>
          <td>
            <select name="rent-type" id="customer-type">
              <option value="">Diamond</option>
              <option value="">Gold</option>
              <option value="">Sliver</option>
              <option value="">Member</option>
            </select>
          </td>
        </tr>
      </table>
      <div id="box-button">
        <button type="submit" id="btn-create">Save</button>
      </div>
    </form>
  </div>

</div>
