*{
  box-sizing: border-box;
}

*:not(i){
  font-family: sans-serif;
}

.wrapper{
  padding: 32px 0;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-customer__edit{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  min-width: 450px;
  border-radius: 4px;
  padding: 24px 12px;
  border: 1px solid rgb(231, 244, 155);
  box-shadow: 1px 3px 16px rgba(231, 244, 155, 0.35);
}
.form-customer__edit label{
  color: #c09207;
  text-transform: capitalize;
}
.form-customer__edit label i{
  margin-right: 8px;
}
.form-customer__edit input, .form-customer__edit select, .form-customer__edit textarea {
  width: 100%;
  padding:6px;
  border: 1px solid rgb(231, 244, 155);
  border-radius: 3px;
  margin-left: 8px;
  font-size: 16px;
  outline: none;
}
.create-customer-heading{
  width: 100%;
  color:  #c09207;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 32px;
}

.table-customer__create {
  width: 80%;
}
.table-customer__create tr td{
  padding-bottom: 12px;
}

#box-button{
  width: 100%;
  display: flex;
  align-items: center;
  padding: 12px 0;
  justify-content: center;
}
#btn-create{
  width: 80%;
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 6px 0;
  background-color:  #c09207;
  color: rgb(248, 244, 244);
  font-size: 20px;
  margin-top: 20px;
}
