<div class="header bg-light">
  <div class="container">
    <nav class="header-nav">
      <ul class="header-menu">
        <li class="header-item">
          <a class="header-link" href="#">
            <img class="img-logo" src="./assets/images/logo.png" alt="logo images">
          </a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#">About</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#">Contract</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#">Customer</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#">Service</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#">Employee</a>
        </li>
        <div id="search">
          <form action="" id="form-search">
            <fa-icon [icon]="faSearch" class="search-icon"></fa-icon>
            <input type="text" placeholder="Search..." class="txt-search">
          </form>
        </div>
        <div id="account">
          <a href="#" class="btn btn-sm btn-outline-warning">
            <fa-icon [icon]="faSign"></fa-icon>
            Login
          </a>
          <span style="margin: 0px 8px;">|</span>
          <a href="#" class="btn btn-sm btn-warning">
            <fa-icon [icon]="faUserPlus"></fa-icon>
            Register
          </a>
        </div>
      </ul>
    </nav>
  </div>
</div>
