
<div class="card">
  <div class="card-header bg-warning text-white">
    <h4 class="card-title">Add Student</h4>
  </div>
  <div class="card-body">
    <form [formGroup]="studentForm" (ngSubmit)="createStudent1(studentForm)">
      <div class="mb-3">
        <label class="form-label">Name</label>
        <input formControlName="name" type="text" class="form-control"
        [ngClass]="studentForm.controls['name'].invalid? 'is-invalid': 'is-valid'">
        <div class="invalid-feedback">
          Please provide a valid name.
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">point</label>
        <input formControlName="point" type="text" class="form-control"
               [ngClass]="studentForm.controls['point'].invalid? 'is-invalid': 'is-valid'">
        <div class="invalid-feedback">
          <p *ngIf="studentForm.controls['point'].errors?.min ||
                    studentForm.controls['point'].errors?.max">
            Please provide a valid point [0-100].
          </p>
          <p *ngIf="studentForm.controls['point'].errors?.required">
            Please provide a valid point is required.
          </p>
        </div>
      </div>
      <div class="mb-3">
        <span style="margin-right: 12px">Gender </span>
        <div class="form-check form-check-inline">
          <input formControlName="gender" class="form-check-input" type="radio" name="gender" id="male" [value]="0">
          <label class="form-check-label" for="male">Male</label>
        </div>
        <div class="form-check form-check-inline">
          <input formControlName="gender" class="form-check-input" type="radio" name="gender" id="female" [value]="1">
          <label class="form-check-label" for="female">FeMale</label>
        </div>
        <div class="form-check form-check-inline">
          <input formControlName="gender" class="form-check-input" type="radio" name="gender" id="lgbt" [value]="2">
          <label class="form-check-label" for="lgbt">LGBT</label>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input formControlName="password" type="password" class="form-control">
      </div>
      <div class="mb-3">
        <label class="form-label">ConfPassword</label>
        <input formControlName="confPassword" type="password" class="form-control"
        [ngClass]="studentForm.errors?.reConfirmPassWord ? 'is-invalid': 'is-valid'">
        <div *ngIf="studentForm.errors?.reConfirmPassWord" class="invalid-feedback">
          <p>
            Please confirmPass...
          </p>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
<div class="card mt-2">
  <div class="card-header  bg-info">
    <h4 class="card-title">Student Detail</h4>
  </div>
  <div class="card-body">
    <div class="content" *ngIf="_studentService.student; else noData">
      <p class="card-text">Name: {{_studentService.student.name}}</p>
      <p class="card-text">Gender:
        <span *ngIf="_studentService.student.gender == 1">FeMale</span>
        <span *ngIf="_studentService.student.gender == 0">Male</span>
        <span *ngIf="_studentService.student.gender == 2">LGBT</span>
      </p>
      <div class="card-text">
        <label>point:</label>
        <input type="text" [(ngModel)]="_studentService.student.point">
      </div>
    </div>
    <ng-template class="content" #noData>
      <span class="text-danger">No Data</span>
    </ng-template>
  </div>
</div>

<!--<div class="card mt-2">-->
<!--  <div class="card-header  bg-warning">-->
<!--    <h4 class="card-title">Add Student</h4>-->
<!--  </div>-->
<!--  <div class="card-body">-->
<!--    <div class="student-info">-->
<!--      <label for="student-name">Name: </label>-->
<!--      <input type="text" name="" class="form-control" id="student-name" #name>-->
<!--    </div>-->
<!--    <div class="student-info d-flex">-->
<!--      <label>Gender: </label>-->
<!--      <label class="mx-2">-->
<!--        <input type="radio" value="0" checked #male name="gender"> Male-->
<!--      </label>-->
<!--      <label class="mx-2">-->
<!--        <input type="radio" value="1" #female name="gender"> Female-->
<!--      </label>-->
<!--      <label class="mx-2">-->
<!--        <input type="radio" value="2" #lgbt name="gender"> LGBT-->
<!--      </label>-->
<!--    </div>-->
<!--    <div class="student-info">-->
<!--      <label for="student-point">Point: </label>-->
<!--      <input type="text" name="" class="form-control" id="student-point" #point>-->
<!--    </div>-->
<!--    <div class="student-info">-->
<!--      <button class="btn btn-outline-success" (click)="createStudent(name.value, male, female, lgbt, point.value)">Save</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

