<div class="container-fluid bg-secondary">
  <div class="container wrapper">
    <form action="" class="form-facility__create bg-light">
      <h3 class="create-facility-heading">Create New Facility</h3>
      <table class="table-facility__create">
        <tr>
          <td>
            <label for="facility-name">
              <i class="fa-solid fa-pen-nib"></i>
              Name
            </label>
          </td>
          <td>
            <input type="text" placeholder=" Name" id="facility-name">
          </td>
        </tr>
        <tr>
          <td>
            <label for="facility-area"><i class="fa-solid fa-chart-area"></i>Area </label>
          </td>
          <td>
            <input type="text" placeholder=" Area" id="facility-area">
          </td>
        </tr>
        <tr>
          <td>
            <label for="facility-cost"><i class="fa-solid fa-sack-dollar"></i>Cost </label>
          </td>
          <td>
            <input type="text" placeholder=" Cost" id="facility-cost">
          </td>
        </tr>
        <tr>
          <td>
            <label for="facility-rent-type"><i class="fa-solid fa-gem"></i>Rent type </label>
          </td>
          <td>
            <select name="rent-type" id="facility-rent-type">
              <option value="">Day</option>
              <option value="">Month</option>
              <option value="">Hour</option>
              <option value="">Year</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <label for="facility-max-people"><i class="fa-solid fa-users"></i>Max people </label>
          </td>
          <td>
            <input type="text" placeholder=" Max people" id="facility-max-people">
          </td>
        </tr>
      </table>
      <table class="table-facility__create">
          <tr>
            <td>
              <label for="facility-type"><i class="fa-solid fa-house"></i>Facility Type </label>
            </td>
            <td>
              <select name="rent-type" id="facility-type">
                <option value="">Villa</option>
                <option value="">House</option>
                <option value="">Room</option>
              </select>
            </td>
          </tr>
          <tr class="house-property">
            <td>
              <label for="facility-stand-room"><i class="fa-solid fa-pen-nib"></i>Stand room </label>
            </td>
            <td>
              <input type="text" placeholder=" Stand room" id="facility-stand-room">
            </td>
          </tr>
          <tr class="house-property">
            <td>
              <label for="facility-description"><i class="fa-solid fa-pen-nib"></i>Description </label>
            </td>
            <td>
              <textarea name="" id="facility-description" cols="30" rows="3"></textarea>
            </td>
          </tr>
          <tr class="house-property">
            <td>
              <label for="facility-floor"><i class="fa-solid fa-pen-nib"></i>Floors of number </label>
            </td>
            <td>
              <input type="text" placeholder="Floor" id="facility-floor">
            </td>
          </tr>
          <tr class="villa-property">
            <td>
              <label for="facility-pool-area"><i class="fa-solid fa-chart-area"></i>Pool area </label>
            </td>
            <td>
              <input type="text" placeholder="Pool area" id="facility-pool-area">
            </td>
          </tr>
          <tr class="room-property">
            <td>
              <label for="facility-free"><i class="fa-solid fa-pen-nib"></i>Facility free </label>
            </td>
            <td>
              <input type="text" placeholder="Free service" id="facility-free">
            </td>
          </tr>
      </table>
      <div id="box-button">
        <button type="submit" id="btn-create">Create</button>
      </div>
    </form>
  </div>
</div>
